<footer style="margin-top: 4em; text-align: center; color:rgb(8, 38, 65)">
    <p> 
    Created with <span style="font-size:125%;color:red;">&hearts;</span> by toastpix   &copy; 2021
    </p>
</footer>

