<a id="freshbutton" href="/freshtoast?id=50" class="nav-link btn btn-primary" role="button" >Fresh Toast!</a>
<a id="freshbutton" href="/freshtoast?id=10" class="nav-link btn btn-warning" role="button" >Top Toast!</a>
<a id="freshbutton" href="/freshtoast?id=100" class="nav-link btn btn-danger" role="button" >Freaky Toast!</a>