<div id="home">
    <div class="container">
        <div class="jumbotron">
            {{>fresh}}
            <div id="toastRow" class="row">
                {{!-- <div class="col-12 col-md-5">
                    <img class="jumboimg mx-auto d-block" src="/images/toastglow.png" alt="brettGold">
                </div> --}}
                <div  class="col-12">
                    {{!-- <h1>toastpix</h1>
                    <p>
                        If you've got a problem we'll toast it. Looking for the answer? Reach for the marmalade and butter up your bread. We are toastpix and we are here for one reason and one reason only. To delivery the toastiest of toastpix directly to your wallet.
                    When people think of the finer things in life, nothing quite comes close to a freshly toasted toastpix and who better to share it with than you and yours? So what are you waiting for?
                    </p> --}}
                    {{>toastRow}}
                    {{!-- {{>toastRow}}
                    {{>toastRow}} --}}

                    <div style="margin-top: 1.5em">
                        <a  href="https://opensea.io/collection/toastpix" class="btn btn-success btn-block"
                            role="button" target="_blank">Get you some toast!</a>
                    </div>
                </div>
            </div>         
        </div>
    </div>
</div>
