html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  padding: 0px 10px;
  font: 16px "Courier New", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: black;
  background-image: url('https://cdn.pixabay.com/photo/2017/01/08/20/09/abstract-1963838_960_720.jpg');
}

span.highlight{
  background: #f1c40f;
}

.headerspace{
  margin-bottom: 3rem;
}

a {
  color: #00B7FF;
}

#navlogo {
  max-width: 20%;
}

.nav-link-padded {
  padding-left: 1.5em !important;
}

#faq {
  padding-top: 85px;
  margin-top: -85px;
}

.faq h2{
  text-align: center;
}

.faq-question-row {
  margin-top:  1.5em;
}

#about {
  padding-top: 140px;
  margin-top: -140px;
  margin-bottom: 2rem;
}

.jumboimg {
  max-width: 80%;
  margin: 20px 20px;
  align-self: center;
}

.aboutimg {
  max-width: 100%;
  border: 0;
  outline: 0;
}

#image {
  display: flex;
  justify-content: space-around;
  
}

#imageDesc {
  display: flex;
  justify-content: space-around;
  
}

#tagrow {
  margin-top: 8rem;
  margin-bottom: 3rem;
}

.jumbotron {
  
 margin-bottom: 3rem; 
 margin-top: 10rem;
 background-image: url("https://cdn.pixabay.com/photo/2016/11/21/12/30/milky-way-1845068_960_720.jpg");
 background-color: black; 
}

#nameslist {
  
  margin-bottom: 3rem; 
  margin-top: 8rem;
   
 }

#openseabutton {
  
  width: 160px;
  padding: 0px;
  margin-top: .5rem;
  color: white;
  margin-left: 1.5rem;
  border-radius: 15px
}

#freshbutton{
  width: 160px;
  padding: 0px;
  margin-top: 2px;
  color: white;
  margin-left: 1.5rem;
  border-radius: 15px;
  /* margin-bottom: 2rem; */
}

/* test dropdown copied css */
/* 
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.jumbotron {
  
  
  
} */